<div class="container">
    <div class="body-containers">
        <div class="col-6 cent">
            <div>
                <span class="heading"> Successfully Created !
                </span>
            </div>
            <div class="mt-3">
                <button (click)="open()" class="primary-btn " mat-raised-button>OPEN</button>
            </div>
            <div class="mt-4">
               <mat-icon style="cursor: pointer;" (click)="copy()" title="Copy Link">content_copy</mat-icon>
            </div>
            <div class="mt-4">
                <a href="#/create">create anothe flip book</a>
            </div>

        </div>
        <div class="col-6">
            <img style="height: 200px;" src="../../../assets/images/undraw_share_link_re_54rx.svg" alt="">
        </div>
    </div>

</div>