.container {
    height: auto !important;
    margin-bottom: 1000px !important;
}

.data-list {
    padding: 3px;
    border: 1px solid #efefef;
    background-color: #fdfdfd;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

mat-icon {
    color: #F50057;
    line-height: 65px;

}


.list-items {
    line-height: 65px;
}

.tc {
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;

}

//ddddddddddddddddddddddddd
.upload-img {
    height: 200px;
}

.body-containers {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.ins{
    font-weight: 550;
}
.example-list {
    width: 100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    height: auto;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.primary-btn {
    background-color: #F50057!important;
}
.kela{
    margin-top: 20px!important;
}
.spid{
    position: fixed;
    z-index: 998;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    opacity: 0.5;
    

}
.spinner{
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: #F50057;
}
.mat-spinner {
    ::ng-deep circle {
        stroke: #F50057;
    }
}
.alg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}