<div class="top-bar">
    <div class="">
        <h4 class="head">Flip Book by Naveen </h4>
    </div>
    <!-- <div>
        <button mat-icon-button class="icon-item">
            <mat-icon>list_all</mat-icon>
        </button>
    </div> -->
<!-- 
    <div >
        <button [mat-menu-trigger-for]="user" mat-icon-button class="icon-item">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #user="matMenu" class="opt-menu" x-position="before">
            <button  mat-menu-item>
                <mat-icon>lock</mat-icon>
                Change Password
            </button>
            <button routerLink="/login" mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Sign Out
            </button>
        </mat-menu>
    </div> -->

</div>
<div style="width: 100%;">
<router-outlet></router-outlet>
</div>
