.top-bar {
    height: 60px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 1fr;

}

.icon-item {
    line-height: 60px;
    cursor: pointer;
    color: #F50057;
}

.head {
    display: inline;
    font-size: 20px;
    font-family: cursive;
    color: #F50057;
    line-height: 60px;
    margin: 0 30px;
    font-weight: bold;
    cursor: pointer;
}